.h-main {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.h-title {
  margin: 35px 0 0 0;
  text-align: center;
}

.h-title-text {
  margin: 0;
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 52px;
  line-height: 58px;
}

.h-dl-windows {
  margin: 20px 0;
  display: flex;
  align-items: center;
  height: 60px;
  width: fit-content;
  padding: 0 15px;
  border-radius: 6px;
  text-decoration: none;
  color: white;
  background: linear-gradient(150deg, #0596ff 0%, #146ee0 100%);
  transition: 0.2s;
}

.h-dl-windows:hover {
  transform: scale(1.02);
}

.h-dl-windows svg {
  height: 35px;
  margin: 0 15px 0 0;
}

.h-dl-windows p {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
}

.h-main-img {
  width: 90%;
  max-width: 980px;
  border-radius: 8px;
  box-shadow: 6px 6px 10px #00000060;
}

.h-why-text {
  margin: 50px 0 10px 0;
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 42px;
  text-align: center;
}

.h-section {
  color: white;
  display: flex;
  justify-content: space-between;
  margin: 0 0 40px 0;
  img {
    max-height: fit-content;
    width: 590px;
    border-radius: 8px;
    box-shadow: 6px 6px 10px #00000060;
  }
  &:last-child {
    margin: 0;
  }
}

.h-section-text {
  width: 710px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  h3 {
    margin: 0;
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 32px;
  }
}

.h-section-left {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  .h-section-text {
    align-items: end;
  }
}

.h-section-text p {
  max-width: 80%;
  margin: 0;
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
}

.h-section-left p {
  text-align: end;
}

@media (max-width: 650px) {
  .h-section-left {
    flex-direction: row;
    .h-section-text {
      align-items: start;
    }
    p {
      text-align: start;
    }
  }
  .h-section-text {
    margin-bottom: 10px;
    width: 590px;
    text-align: center;
    p, h3 {
      text-align: center;
      width: 100%;
      max-width: initial;
    }
  }
  .h-section {
    display: flex;
    flex-direction: column;
  }
  .h-sections {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}