.header {
  margin: 20px 0 20px 0;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner-logo {
  height: 60px;
  transition: 0.2s;
}

.banner-logo:hover {
  transform: scale(1.04);
}

.header-links {
  display: flex;
  gap: 20px;
  align-items: center;
}

.header-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px 0 20px;
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  height: 60px;
  background-color: black;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  transition: 0.2s;
  &:hover {
    transform: scale(1.04);
  }
  &.active {
    background-color: white;
    color: black;
    cursor: default;
    &:hover {
      transform: none;
    }
  }
}

.header-notice {
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 6px;
  background-color: #cd7217;
  display: flex;
  align-items: center;
  user-select: none;
  p {
    margin: 0 0 0 10px;
  }
}